/* CSS Index 
----------------------------------------------------------------------
1. HEADER AREA CSS
----------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Theme default css */
body {
  font-family: "Poppins", sans-seri;
  font-weight: 500;
  font-style: normal;
  background: #eeeeee;
}
img {
  height: 100%;
  width: 100%;
}
.img {
  width: 100%;
  transition: all 0.3s ease-out 0s;
}
.f-left {
  float: left;
}
.f-right {
  float: right;
}
.fix {
  overflow: hidden;
}
a,
.button {
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
}
a:focus,
.btn:focus,
.button:focus,
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}
a,
button {
  color: #191728;
  outline: medium none;
}
a {
  text-decoration: none;
}
a:hover {
  color: inherit;
}
.uppercase {
  text-transform: uppercase;
}
.capitalize {
  text-transform: capitalize;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #191728;
  margin-top: 0px;
  font-style: normal;
  font-weight: 700;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
}
h1 {
  font-size: 40px;
  font-weight: 500;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  color: #000;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 22px;
}
h5 {
  font-size: 18px;
}
h6 {
  font-size: 16px;
}
ul {
  margin: 0px;
  padding: 0px;
}
li {
  list-style: none;
}
p {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  color: rgba(0, 0, 0, 0.5);
  margin-bottom: 0px;
}
hr {
  border-bottom: 1px solid #eceff8;
  border-top: 0 none;
  margin: 30px 0;
  padding: 0;
}
label {
  color: #7e7e7e;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
*::-moz-selection {
  background: #d6b161;
  color: #fff;
  text-shadow: none;
}
::-moz-selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #444;
  color: #fff;
  text-shadow: none;
}
*::-moz-placeholder {
  color: #898a8a;
  font-size: 14px;
  opacity: 1;
}
*::placeholder {
  color: #898a8a;
  font-size: 14px;
  opacity: 1;
}
/* Global Css here */
.primary_btn {
  padding: 10px 20px;
  border-radius: 8px;
  color: #fff;
  background: #104b78;
  border: 2px solid transparent;
  transition: 0.3s all ease-in-out;
  display: inline-block;
}
.primary_btn:focus,
.primary_btn:hover {
  color: #104b78;
  border-color: #104b78;
  background: transparent;
}
.secondary_btn {
  padding: 10px;
  text-align: center;
  display: block;
  font-size: 14px;
  border-radius: 10px;
  cursor: pointer;
  background: #fff;
  border: 1px solid #dadada;
  transition: 0.3s all ease-in-out;
}
.secondary_btn:focus,
.secondary_btn:hover {
  border-color: #104b78;
  color: #fff;
  background: #104b78;
}
/* Main Css Here */
header {
  background: #fff;
  border-radius: 0 0 25px 25px;
}
.top_menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo img {
  height: 130px;
  width: auto;
}
/* Main Content */
#search_form {
  width: 100%;
  position: relative;
  margin: 25px 0;
}
#search_item {
  width: 100%;
  padding: 10px;
  padding-left: 50px;
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 24px rgba(176, 176, 176, 0.39);
  border: none;
  outline: none;
}
#search_item::placeholder {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
#input_search {
  position: absolute;
  left: 18px;
  top: 12px;
}
#input_search i {
  color: rgba(0, 0, 0, 0.5);
}
/* BLOG CSS HERE */
.single_blogs {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 2px 24px rgba(176, 176, 176, 0.39);
  padding: 20px;
  margin-bottom: 20px;
}
.single_blogs_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.082);
  margin-bottom: 10px;
}
.blog_author {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.blog_author_thumb {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.blog_author_thumb img {
  height: 100%;
  width: 100%;
}
.blog_title {
  font-weight: 600;
  color: #000;
}
.blog_notification {
  color: rgba(0, 0, 0, 0.5);
}
#blog_question {
  padding: 10px 0;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #000;
}
.question_options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 15px;
  row-gap: 15px;
}
.option_thumb {
  margin-bottom: 15px;
  position: relative;
}
.persentAndVote {
  position: absolute;
  left: 0;
  right: 0;
  background: #00000063;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 8px;
}
.persentAndVote h2 {
  color: #fff;
  font-weight: 700;
  font-size: 32px;
}
.persentAndVote h3 {
  font-weight: 600;
  color: #fff;
}
.option_thumb img {
  border-radius: 10px;
}
.single_blog_footer {
  display: flex;
  justify-content: space-between;
  margin: 20px 15px 0 15px;
  align-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.082);
  padding-top: 15px;
}
.blog_comment,
.blog_vote,
.blog_share {
  text-align: center;
}
.blog_comment i,
.blog_share i {
  font-size: 24px;
  display: block;
  margin-bottom: 5px;
}
.votes_areas a {
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 500;
}
.blogs {
  column-count: 3;
  padding-bottom: 50px;
  margin-bottom: 50px;
  position: relative;
}
.blogs::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 350px;
  background: #000;
  border-radius: 10px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.single_blogs {
  display: block;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}
